.main {
  display: grid;
  grid-template-areas: "appBar header"
                        "appBar contentArea";
  width: 100%;
  height: 100vh;
}
.header {
  grid-area: header;
}
.appBar {
  grid-area: appBar;
  position: fixed;
}
.contentArea {
  grid-area: contentArea;
}
